<ion-header>
  <ion-toolbar class="tbtx">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Unfall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding contx">
  <p>Bitte machen Sie so viele Aufnahmen wie nötig ("BILD AUFNEHMEN", jedes Foto einzeln
    bestätigen oder verwerfen), Querformat, mindestens eine mit gut sichtbarem Kennzeichen des Gegnerfahrzeuges.
    Dann "EMAIL SENDEN", Ihre Email-App auswählen und abschicken.
  </p>
  <ion-button fill="outline" color="light" expand="block" (click)="captureImage()">BILD AUFNEHMEN</ion-button>
  <ion-button fill="outline" color="light" expand="block" (click)="sendMail()">EMAIL SENDEN</ion-button>

  <ion-card>
    <ion-card-header class="bow" style="height: 30px;">
      <span> Gegenwärtiges Foto <ion-icon class="center-right" name="arrow-down-sharp"></ion-icon><ion-icon class="center-right" name="arrow-down-sharp"></ion-icon><ion-icon class="center-right" name="arrow-down-sharp"></ion-icon> </span>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="currentImage" *ngIf="currentImage"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>

